.book-body {
    background-color: lightblue;
}

.book-summary{
    background-color: gainsboro;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
}

/* 
h1, h2, h3, p, ul, ol, blockquote, table, th, td 
.book-body
.page-wrapper
*/